<h1>Add travel</h1>


<form action="/add/travel" method="POST" enctype="multipart/form-data">
 <input type="text" name="location" placeholder="Location">
 <input type="file" name="image">
 <button>Add your trip</button>
</form>